.actorInfo {
  text-align: left;
}

.actorPhoto {
  width: 150px;
}

.textInfo {
  font-family: "Montseratt", sans-serif;
  color: black;
  font-size: 18px;
}

.messageNoActorsStyle {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 18px;
  text-align: left;
}
